:root {
  --sd-white: #fff;
  --sd-black: #000;
  --sd-gray-50: #F7F7F7;
  --sd-gray-100: #EBECEE;
  --sd-gray-200: #D2D4D7;
  --sd-gray-300: #C5C8CB;
  --sd-gray-400: #A8ADB2;
  --sd-gray-500: #93979E;
  --sd-gray-600: #757880;
  --sd-gray-700: #757880;
  --sd-gray-800: #62646B;
  --sd-gray-900: #515257;
  --sd-blue-50: #EFF5FF;
  --sd-blue-100: #DCE8FD;
  --sd-blue-200: #C0D7FD;
  --sd-blue-300: #82B1F9;
  --sd-blue-400: #5391F7;
  --sd-blue-500: #3E76F3;
  --sd-blue-600: #2857E8;
  --sd-blue-700: #2042D5;
  --sd-blue-800: #2037AD;
  --sd-blue-900: #203488;
  --sd-red-50: #FFF5F5;
  --sd-red-100: #FFF5F5;
  --sd-red-200: #FED7D7;
  --sd-red-300: #FEB2B2;
  --sd-red-400: #FC8181;
  --sd-red-500: #F56565;
  --sd-red-600: #E53E3E;
  --sd-red-700: #C53030;
  --sd-red-800: #9B2C2C;
  --sd-red-900: #742A2A;
  --sd-green-50: #E7F1FC;
  --sd-green-100: #F0FFF4;
  --sd-green-200: #C6F6D5;
  --sd-green-300: #9AE6B4;
  --sd-green-400: #68D391;
  --sd-green-500: #48BB78;
  --sd-green-600: #38A169;
  --sd-green-700: #2F855A;
  --sd-green-800: #276749;
  --sd-green-900: #22543D;
}